<div class="container">
    <h3>Welcome {{name}} !!!</h3>
    <div class='card' *ngFor='let question of questions'>
        <div class="card-header">
            <h4>Question {{question.id}}</h4>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{question.question}}</h5>
            <div class="row text-left options" *ngFor='let option of question.options'>
                <div class="col-6 option">
                    <label class="font-weight-normal" [attr.for]="option.id">
                        <input id='{{option.id}}' type="checkbox" name="option" value="{{option.name}}" [(ngModel)]='option.selected' (change)='onClick(question,option)'>{{option.name}}
                    </label>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-success" (click)='onSubmit()'>Submit</button>
</div>