.card {
    margin: 10px 30px;
    box-shadow: 2px grey;
}

.card-title {
    background-color: navy;
    height: 50px;
    color: white;
    padding: 10px 0 0 30px;
}

.card-body {
    position: center;
}

.btn {
    margin-left: 45%;
    width: 200px;
    height: 50px;
}

h3 {
    margin: 30px 0 20px 35%;
}

.col-6 {
    padding: 10px 10px 20px 10px;
}